{% extends "base/auth_base.html" %} {% block title %} Изменения профиля | Admin Dashboard
{% endblock %} {% block content %}


<form
  id="edit-user-form"
  hx-target="this"
  hx-put="{{url_for('post_update_user', user_id=user.id)}}"
  hx-headers='{"X-CSRF-Token": "{{ csrf_token }}"}'
  hx-swap="outerHTML"
>
  <div class="mb-6">
    <h2 class="mb-4 text-xl font-bold">General Profile</h2>
    <label
      for="first_name"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Имя</label
    >
    <input
      type="text"
      id="first_name"
      name="first_name"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
      placeholder="First Name"
      value="{{ user.profile.first_name |e}}"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="last_name"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Фамилия</label
    >
    <input
      type="text"
      id="last_name"
      name="last_name"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
      placeholder="Last Name"
      value="{{ user.profile.last_name | e}}"
      required
    />
  </div>
  <div class="mb-6">
    <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Пол</label>
  
    <select id="gender" name="gender" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option value="male" {{ "selected" if user.profile.gender == "male" }}>Мужчина</option>
      <option value="female" {{ "selected" if user.profile.gender == "female" }}>Женщина</option>
      <option value="other" {{ "selected" if user.profile.gender == "other" }}>Другое</option>
    </select>
  
  </div>
  <div class="mb-6">
    <label
      for="dob"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Дата рождения</label
    >
    <input
      type="date"
      id="dob"
      name="dob"
      placeholder="Date of Birth (YYYY-MM-DD)"
      value="{{ user.profile.date_of_birth.strftime('%Y-%m-%d') if user.profile.date_of_birth }}"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
      required
    />
  </div>

  <div class="mb-6">
    <label
      for="address"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Адрес</label
    >
    <input
      type="text"
      id="address"
      name="address"
      placeholder="Primary Address"
      value="{{ user.profile.address | e}}"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"

    />
  </div>
  <div class="mb-6">
    <label
      for="city"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Город</label
    >
    <input
      type="text"
      id="city"
      name="city"
      placeholder="City"
      value="{{ user.profile.city | e}}"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"

    />
  </div>

  <div class="mb-6">
    <label
      for="country"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Страна</label
    >
    <input
      type="text"
      id="country"
      name="country"
      placeholder="Country"
      value="{{ user.profile.country | e}}"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"

    />
  </div>

  
  <div class="mb-6">
    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
      Номер телефона:</label>
    <div class="relative">
      <input type="text" value="{{ user.profile.phone | e}}" name="phone" id="phone" aria-describedby="helper-text-explanation" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-20 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="USA: (123) 456-7890 or UK: 01234 567890 or Australia: 0412 345 678" required />
<!--      pattern="^(\+?1?\s*?\(?\d{3}[\)\-\s]?\d{3}[\-\s]?\d{4}|\+?\d{2}?\s?\d{4}\s?\d{6})$"-->
    </div>
  <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Select a phone number that matches the format.</p>
  </div>

  <div class="mb-6">
    <label
      for="company"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Компания</label
    >
    <input
      type="text"
      id="company"
      name="company"
      placeholder="Company"
      value="{{ user.profile.company | e}}"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"

    />
  </div>
  <h2 class="mb-4 mt-8 text-xl font-bold">Статус в приложении</h2>
  <div class="mb-6">
    <label for="role-selection" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role Selection</label>
    <select id="role-selection" name="role_id" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
      <option value="">Выбрать статус</option>
      {% for role in roles %}
        <option value="{{ role.id }}" {% if user.role and user.role.id == role.id %}selected{% endif %}>{{ role.role_name }}</option>
      {% endfor %}
    </select>
  </div>
  
  {% if error_messages %}
  <div
    id="error-message"
    class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
    role="alert"
  >
    {% for error in error_messages %}
    <span class="font-medium">{{ error }}</span><br />
    {% endfor %}
  </div>
  {% endif %}
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Изменить
  </button>
  <button
    type="button"
    class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
    hx-confirm="Вы уверены, что хотите отменить изменения профиля?"
    @click.prevent="window.location.href = '{{ url_for('get_users') }}'"
    hx-boost="true"
  >
    Отмена
  </button>
</form>
{% endblock %}
